doctype html
html(lang='ru')
  head
    title!= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.css')
    link(rel='stylesheet', href='/assets/style.css')
    link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')
  body
    #app-node!= html

    script.
      window.app = {
        config: !{JSON.stringify(config)},
        env: !{JSON.stringify(env)},
        langs: !{JSON.stringify(langs)},
        stores: !{stores}
      };

    script(src='/vendor/jquery/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==')
    script(src='//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js')
    script(src='/assets/script.js')
